.achievements{
    position: relative;
    z-index: 12;

    display: flex;
    align-items: center;
    height:  45em;
    background-color: #fafafa;
}
.achievements__container{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;

    padding: 1em;
    height: 70%;
    
    background-color: #ffffff;
}
.achievements__heading{
    margin: 20px 0;

    font-size: 1.6em;
    
    color: #5a595f;
}
.achievements__description{
    font-size: 1.2em;
    line-height: 1.3em;

    color:rgba(90, 89, 95, 0.8);
}
.achievements__items{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 30%;
    height: 35%;
}
.achievements__items:hover{
    justify-content: center;

    transition: 0.4s;
}
.achievements__icons{
    transition: 0.4s;
}
.achievements__items:hover .achievements__icons{
    opacity: 0;
    margin-top: -80px;
}



