.clients{
    display: flex;
    align-items: center;

    height: 25em;
}
.clients__container{
    display: flex;
    justify-content: space-between;

    height: 24%;
}
.clients__container__items{
    width: 100%;
}
.clients__container__items img{
    width: 100%;
}
.clients__container__items:hover{
    opacity: 0.8;
    transition: .2s;   
}
