.latest-products{
    display: flex;

    height: 45em;

    background-color: #ffffff;
    color: rgba(90, 89, 95, 1);
}
.latest-products__container{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.latest-products__heading{
    color: rgba(90, 89, 95, 1);
}
.latest-products__gallery__description{
    margin: 1em 0;
}


.gallery__images {
    width: 100%;

    background-size: cover;
}
.gallery__img{
    width: 100%;
}

.gallery{
    display: flex;
    justify-content: space-between;
    height: 80%;
}
.latest-products__gallery__items{
    width: 30%;
    height: 80%;
}
.latest-products__gallery__description{
    line-height: 1.1;
}
.latest-products__gallery__items__block__line{
    display: flex;
    align-items: center;
}
.latest-products__btn{
    position: relative;

    display: flex;
    flex-direction: row;

    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    color: #fafafa;
    opacity: 1;
    height: max-content;
    width: 50%;
}
.latest-products__gallery__link{
    display: flex;
    width: 15em;

    color: rgba(90, 89, 95, 1);

    opacity: 1;
}
.latest-products__gallery__link:hover{
    opacity: 0.8;
}
.latest-products__btn__line{
    position: absolute;
    top: 50%;
    left:6em;

    width: 10px;
    height: 2px;
    margin-top: -1px;
    border-radius: 1px;

    background-color: #1fbbd4;
    opacity: 0;

    transition: .2s;
}

.latest-products__btn:hover .latest-products__btn__line{
    opacity: 1;
}


.latest-products__gallery__items__heading{
    display: flex;

    align-items: baseline;
    margin: 1em 0;
}
.gallery__items__heading__heading-h5{
    padding-left: 2em;
}
