.our-clients{
    position: relative;

    display: flex;
    align-items: center;
    height: 25em;

    background-color: #ffffff;
}
.our-clients__image{
    position: absolute;
    right: 0;
    top: 0;

    width: 50%;
    height: 100%;

    background-image: url(../assets/img/970x970/01.jpg);
    background-size: cover;

}
.our-clients__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 70%;
}
.our-clients__container__description{
    width: 45%;
    height: 80%;

    overflow: hidden;
}