.showcase{
    display: flex;
    align-items: center;

    height: 60em;
}
.showcase__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.showcase__container__img-gallery{
    height: 80%;
}

.img-gallery{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
}
.img-gallery__img-block{
    display: flex;
    height: 43%;

    background-size: cover;
}
.img-gallery__img-block1{
    flex-basis: 66.6%;
    height: 56.7%;
    align-self: flex-start;

    background-image: url(../assets/img/800x400/01.jpg);
    background-position: center;
}
.img-gallery__img-block2{
    flex-basis: 33.2%;
    height: 56.7%;
    align-self: flex-start;

    background-image: url(../assets/img/397x400/01.jpg);
}
.img-gallery__img-block3{
    flex-basis: 33.2%;

    background-image: url(../assets/img/397x300/01.jpg);
}
.img-gallery__img-block4{
    flex-basis: 33.2%;

    background-image: url(../assets/img/397x300/02.jpg);
}
.img-gallery__img-block5{
    flex-basis: 33.2%;

    background-image: url(../assets/img/397x300/03.jpg);
}
.img-gallery__img-block_hover{
    display: none;

    width: 100%;
    height: 100%;

    transition: all .2s ease-in;
}
.img-gallery__img-block_hover:hover{
    background-color: rgba(13, 14, 13, 0.6);
}

.img-gallery__img-block:hover .img-gallery__img-block_hover{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.img-gallery__img-block__h6_hover{
    font-size: 1.5em;

    animation: text-up .2s ease-in;
}
.img-gallery__img-block__description_hover{
    margin: 1em;

    animation: text-up .2s linear;
    animation-iteration-count: 1;
    transition: all .3s;
}
