h1, h2,h3,h4,h5,h6,p,a{
    color: #fafafa;
}
.slider{
    position: relative;
    z-index: 14;

    height: 45rem;

    background-color:  #474a43;

    overflow: hidden;
}

.slider__navigation{
    position: absolute;
    bottom: 0;
    left: 50%;

    display: flex;

    transform: translateX(-50%);
}


.slider__items{
    display: flex;
    width: 200vw;
    height: 100%;
}
.slide{
    margin: 0;
    width: 100vw;
    height: 100%;

    background-color: rgb(65, 65, 65);
    background-size: cover;

    transition: all .6s easy;
}
.s1{
    background-image: url(../assets/img/1920x1080/01.jpg);
    
}
.s2{
    background-image: url(../assets/img/1920x1080/02.jpg);
}

.slider__items__radio-btn1:checked ~ .s1{
    margin-left: 0%;
}
.slider__items__radio-btn2:checked  ~ .s1{
    margin-left: -50%;
}

.bar{
    position: relative;

    height: 0.8em;
    width: 0.8em;
    margin: 6px;
    margin-bottom: 5%;

    border: 1px solid #fafafa;
    border-radius: 1em;

    transition: all .4s ease;

    opacity: 0.8;
    cursor: pointer;
}

.bar:hover{
    background-color: #fafafa;

    transform: scale(1.1);

    opacity: 1;
}
.slider__navigation__bar::before{
    content: '';
    background-color:#fafafa;
    height: 0.8em;
    width: 0.8em;
    border-radius: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 20;
    opacity: .2;
}

.slider__items__radio-btn2:checked+.slider__navigation__bar::before{
    opacity: 1;
}




.slider__items__container{
    display: flex;
    align-items: center;
    height: 100%;
}
.common-information{
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50vw;
    height: 100%;
}
.common-information__description{
    color:  rgba(250, 250, 250, 0.7);
}
.common-information__button-link{
    margin-top: 3em;
}

